<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    	<context:component-scan base-package="com"></context:component-scan>
    	<bean id="tx" class="com.util.Util"></bean>
    	
    	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    	
    	<!-- <aop:config>
    	    <aop:aspect ref="tx">
    	        切入点
    	        <aop:pointcut expression="execution(* com.service..*.*(..))" id="aop"/>
    	    增强
    	    <aop:before method="getDate" pointcut-ref="aop"/>
    	    最强增强，无论怎样都执行
    	    <aop:after method="close" pointcut-ref="aop"/>
    	    普通后置增强 出现异常不执行
    	    <aop:after-returning method="save" pointcut-ref="aop"/>
			<aop:after-throwing method="getBug" pointcut-ref="aop"/> 
			<aop:around method="around" pointcut-ref="aop"/>  
			 	    
    	    </aop:aspect>
    	    
    	    
    	</aop:config> -->
    	
</beans>
